<div class="videos container" data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "history": false }'>
  <div class="search-youtube">
    <form [formGroup]="searchForm">
      <label for="search"><h2>Search YouTube</h2></label><br />
      <!--<input ngControl="search" id="search" />-->
      <input name="search" formControlName="search" id="search">
    </form>
  </div>

  <div *ngIf="showContents()">
    <iframe class="video-tutorial" style="width:45%;height:315px;padding:5px;margin:5px" src="https://www.youtube.com/embed/-zW1zHqsdyc" frameborder="0" allowfullscreen></iframe>
    <iframe class="video-tutorial" style="width:45%;height:315px;padding:5px;margin:5px" src="https://www.youtube.com/embed/_-CD_5YhJTA" frameborder="0" allowfullscreen></iframe>
    <iframe class="video-tutorial" style="width:45%;height:315px;padding:5px;margin:5px" src="https://www.youtube.com/embed/WWQZCDegWHg?list=PL6n9fhu94yhWqGD8BuKuX-VTKqlNBj-m6" frameborder="0" allowfullscreen></iframe>
    <iframe class="video-tutorial" style="width:45%;height:315px;padding:5px;margin:5px" src="https://www.youtube.com/embed/zj7_4VDFQPA?list=PLC3y8-rFHvwg5gEu2KF4sbGvpUqMRSBSW" frameborder="0" allowfullscreen></iframe>
    <iframe class="video-tutorial" style="width:45%;height:315px;padding:5px;margin:5px" src="https://www.youtube.com/embed/m5fHtGtyPgk?list=PLillGF-RfqbYftYr5T6bv9idBU7oyADoZ" frameborder="0" allowfullscreen></iframe>
    <iframe class="video-tutorial" style="width:45%;height:315px;padding:5px;margin:5px" src="https://www.youtube.com/embed/hEBP9x6FNMk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div *ngIf="!showContents()" class="row">
    <div *ngFor="let result of results$ | async" class="col-md-6 search-results"> <!-- Observable templates/pipes -->
      <div class="video-title">
        <h4>{{result.snippet.title}}</h4>
      </div>
      <a href="https://www.youtube.com/watch?v={{result.id.videoId}}" target="_blank">
        <img [src]="result.snippet.thumbnails.default.url" style="width:416px;height:315px;padding:5px;margin:5px" />
      </a>
      <p>{{result.snippet.description}}</p>
    </div>
  </div>
</div>
