<div class="videos container" data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "history": false }'>
  <form [formGroup]="searchForm">
    <label for="search">Search YouTube</label><br />
    <!--<input ngControl="search" id="search" />-->
    <input name="search" formControlName="search" id="search">
  </form>

  <div *ngIf="showContents()">
    <iframe style="width:45%;height:315px;padding:5px" src="https://www.youtube.com/embed/-zW1zHqsdyc" frameborder="0" allowfullscreen></iframe>
    <iframe style="width:45%;height:315px;padding:5px" src="https://www.youtube.com/embed/_-CD_5YhJTA" frameborder="0" allowfullscreen></iframe>
    <iframe style="width:45%;height:315px;padding:5px" src="https://www.youtube.com/embed/WWQZCDegWHg?list=PL6n9fhu94yhWqGD8BuKuX-VTKqlNBj-m6" frameborder="0" allowfullscreen></iframe>
    <iframe style="width:45%;height:315px;padding:5px" src="https://www.youtube.com/embed/zj7_4VDFQPA?list=PLC3y8-rFHvwg5gEu2KF4sbGvpUqMRSBSW" frameborder="0" allowfullscreen></iframe>
    <iframe style="width:45%;height:315px;padding:5px" src="https://www.youtube.com/embed/m5fHtGtyPgk?list=PLillGF-RfqbYftYr5T6bv9idBU7oyADoZ" frameborder="0" allowfullscreen></iframe>
    <iframe style="width:45%;height:315px;padding:5px" src="https://www.youtube.com/embed/hEBP9x6FNMk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div *ngIf="!showContents()">
    <div *ngFor="let result of results$ | async"> <!-- Observable templates/pipes -->
      <a href="https://www.youtube.com/watch?v={{result.id.videoId}}" target="_blank">
        <h3>{{result.snippet.title}}</h3>
        <img [src]="result.snippet.thumbnails.default.url" style="width: 100%; max-width: 250px;" />
      </a>
      <p>{{result.snippet.description}}</p>
    </div>
  </div>
</div>
