<div class="container">
  <div *ngIf="isLoggedIn">
    <h3>Add New Book to Inventory</h3>
    <div>
      <div>
        <label>Book Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Book Author:</label>
        <br>
        <input #newAuthor>
      </div>

      <div>
        <label>Book Price:</label>
        <br>
        <input #newPrice>
      </div>

      <div>
        <label>Book Image:</label>
        <br>
        <input #newImage>
      </div>

      <div>
        <label>Book Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <button (click)="submitForm(newTitle.value, newAuthor.value, newPrice.value, newImage.value, newDescription.value); newTitle.value=''; newAuthor.value=''; newPrice.value=''; newImage.value=''; newDescription.value=''">Add</button>
    </div>
  </div>
</div>
<div>
  <app-books></app-books>
</div>
