<div *ngIf="isLoggedIn" class="container">
  <h1>Add New Book</h1>
  <div class="add-new-book">
    <div class="new-form">
      <div class="well bs-component">
        <form class="form-horizontal">
          <fieldset>
            <legend>Form</legend>
            <div class="form-group">
              <label for="input" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                <input #newTitle type="text" class="form-control" id="inputEmail" placeholder="Title">
              </div>
            </div>
            <div class="form-group">
              <label for="input" class="col-lg-2 control-label">Author</label>
              <div class="col-lg-10">
                <input #newAuthor type="text" class="form-control" id="inputEmail" placeholder="Author">
              </div>
            </div>
            <div class="form-group">
              <label for="input" class="col-lg-2 control-label">Published</label>
              <div class="col-lg-10">
                <input #newYear type="text" class="form-control" id="inputEmail" placeholder="Year">
              </div>
            </div>
            <div class="form-group">
              <label for="input" class="col-lg-2 control-label">Price</label>
              <div class="col-lg-10">
                <input #newPrice type="text" class="form-control" id="inputEmail" placeholder="Price">
              </div>
            </div>
            <div class="form-group">
              <label for="input" class="col-lg-2 control-label">Version</label>
              <div class="col-lg-10">
                <input #newVersion type="text" class="form-control" id="inputEmail" placeholder="Version">
              </div>
            </div>
            <div class="form-group">
              <label for="input" class="col-lg-2 control-label">Image</label>
              <div class="col-lg-10">
                <input #newImage type="text" class="form-control" id="inputEmail" placeholder="Image">
              </div>
            </div>
            <div class="form-group">
              <label for="input" class="col-lg-2 control-label">Buy from</label>
              <div class="col-lg-10">
                <input #newShop type="text" class="form-control" id="inputEmail" placeholder="Shop">
              </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea #newDescription class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button (click)="submitForm(newTitle.value, newAuthor.value, newYear.value, newPrice.value, newVersion.value, newImage.value, newShop.value, newDescription.value); newTitle.value=''; newAuthor.value=''; newYear.value=''; newVersion.value=''; newPrice.value=''; newImage.value=''; newShop.value=''; newDescription.value=''" class="btn btn-primary">Add</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <app-books></app-books>
  </div>
</div>

  <!--<div *ngIf="isLoggedIn">
    <h3>Add New Book to Inventory</h3>
    <div>
      <div>
        <label>Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Author:</label>
        <br>
        <input #newAuthor>
      </div>

      <div>
        <label>Publish:</label>
        <br>
        <input #newYear>
      </div>

      <div>
        <label>Price:</label>
        <br>
        <input #newPrice>
      </div>

      <div>
        <label>Version:</label>
        <br>
        <input #newVersion>
      </div>

      <div>
        <label>Image:</label>
        <br>
        <input #newImage>
      </div>

      <div>
        <label>Buy from:</label>
        <br>
        <input #newShop>
      </div>

      <div>
        <label>Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <button (click)="submitForm(newTitle.value, newAuthor.value, newYear.value, newPrice.value, newVersion.value, newImage.value, newShop.value, newDescription.value); newTitle.value=''; newAuthor.value=''; newVersion.value=''; newPrice.value=''; newImage.value=''; newShop.value=''; newDescription.value=''">Add New Book</button>
    </div>
  </div>
</div>
<hr>
<div>
  <app-books></app-books>
</div>
-->
