<div class="container-full">
  <div class="carousel-section">
    <div id="myCarousel" class="carousel slide row" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img [src]="fullImagePath1" alt="home">
          </div>

          <div class="item">
              <img [src]="fullImagePath2" alt="angular-cli">
          </div>

          <div class="item">
              <img [src]="fullImagePath3" alt="typescript">
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container-full row">
    <div class="container small-sections paragraph-container">
      <h1>What Is ngMaster</h1>
      <p>Duis quam nibh, egestas ac vulputate in, tincidunt quis nulla. Cras id lorem viverra sapien gravida auctor nec convallis leo. Etiam dignissim, nibh vel viverra egestas, sem lacus eleifend sem, et efficitur nisi sem quis tortor. Sed pellentesque, mi sed aliquet finibus, ex nibh posuere arcu, a tempor nibh magna in ante. Cras eu nunc enim. Phasellus sed diam est. Praesent at leo at diam sodales dapibus a eget lacus. Nullam viverra nisl mattis sem vestibulum aliquam. Integer odio risus, efficitur vel consequat semper, venenatis eget ex. Sed imperdiet leo nec ligula eleifend, vitae faucibus dolor interdum. Nam congue, mauris ut tincidunt luctus, nisl tellus viverra odio, efficitur euismod mauris nibh vel orci. Morbi aliquam, leo scelerisque molestie aliquet, arcu enim congue diam, a lobortis ligula nisi vel eros.</p>

      <p>Sed a iaculis arcu, et convallis orci. Quisque ornare augue nunc, et elementum libero condimentum et. Vestibulum a lacus velit. Pellentesque pulvinar, sapien at luctus vehicula, lorem nunc pellentesque tellus, nec hendrerit ante est ut enim. In dignissim ante eget laoreet ullamcorper. Sed in luctus erat. Suspendisse potenti. Praesent pretium egestas erat, sed elementum augue rhoncus nec. Cras nec ullamcorper tortor. Curabitur rutrum sapien ut lacus placerat, vel commodo odio luctus. Phasellus a odio et felis semper elementum. Mauris cursus neque non dolor consequat, ut rutrum metus vulputate. Etiam at gravida dolor. Morbi et diam interdum metus tempus eleifend ac ac lacus. Donec ultrices odio quis massa mollis, id luctus velit tempus.</p>

      <img [src]="fullImagePath4" alt="angular4" align="right" class="paragraph-image">

      <p>Proin cursus dolor a mollis finibus. Integer id erat quis nisi vehicula egestas. Maecenas volutpat sit amet nibh bibendum mollis. Nam pulvinar faucibus gravida. Donec dapibus, nisl et maximus tristique, orci lectus suscipit tortor, quis molestie odio nibh ac urna. Donec velit eros, placerat nec sem vehicula, molestie pulvinar odio. Nullam laoreet varius vestibulum. Nullam blandit elementum ullamcorper. Praesent eleifend arcu sed bibendum lobortis. Nulla imperdiet interdum suscipit. Vivamus volutpat ipsum quis arcu tristique, nec sodales erat rutrum. Maecenas ornare condimentum eros, et egestas odio feugiat vel.</p>
      
      <p>Quisque euismod, velit sit amet vulputate malesuada, enim mauris pellentesque lorem, ac accumsan nisl magna et velit. Sed pellentesque neque quis feugiat dignissim. In pharetra a dolor sed fringilla. Vestibulum viverra arcu ac nibh placerat, eu scelerisque metus vulputate. Morbi quis tortor tempor, fermentum turpis ac, efficitur elit. Sed eget egestas erat. Integer eu hendrerit odio. Nullam quis lorem elit. Sed gravida nisi quis augue ornare ultrices. Integer laoreet mauris eu justo sollicitudin molestie.</p>

      <p>Aliquam nec sem lacus. Vivamus ornare dictum nisl eget finibus. Donec laoreet id ligula quis faucibus. Proin a libero et enim euismod vestibulum. Donec eget quam eu massa cursus volutpat ac at felis. Vestibulum luctus luctus sem et consequat. Etiam tristique porttitor lacus sed aliquam. Nam a ligula dignissim, convallis felis vitae, varius nulla. Sed ultrices metus orci, sit amet mollis nunc consequat id.</p>

      <p>Morbi at dolor vel nisl fringilla malesuada vel feugiat felis. Maecenas finibus neque vitae leo feugiat dictum. Maecenas malesuada mattis faucibus. In varius magna quis volutpat consequat. In non magna at risus ultricies dapibus. Proin commodo, neque quis tincidunt euismod, tortor eros auctor orci, in rhoncus ligula eros nec nunc. Pellentesque volutpat diam augue, vel blandit nibh iaculis non. Sed placerat sapien at libero congue, et ultrices tellus facilisis. Donec rhoncus in turpis ac lobortis. Nullam ac ultricies erat. Ut hendrerit orci quis enim tristique porttitor. Cras non rutrum mauris. Suspendisse vulputate, libero eget cursus placerat, nunc felis mattis nisi, a egestas libero enim vitae tellus. Proin ornare ante sapien, sed luctus augue placerat vulputate. Fusce non lobortis purus.</p>

      <p>Pellentesque diam nulla, venenatis quis augue consequat, tempus rhoncus felis. Etiam felis risus, mattis tincidunt lectus sed, dignissim vestibulum mauris. Vivamus auctor volutpat consequat. Nam euismod interdum commodo. Mauris mattis rutrum hendrerit. Praesent viverra dignissim urna, in luctus massa mollis vel. Aliquam erat volutpat. Vestibulum non sodales sem. Donec id posuere purus, sed blandit dui. Curabitur eleifend finibus erat, eu commodo ante congue at. Maecenas dictum augue et porta imperdiet.</p>
    </div>
  </div>

  <div class="container-full row small-section-container">
    <div class="container">
      <div class="row small-sections">
        <div class="col-lg-4">
          <div class="bs-component">
            <h2>Why Angular?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <h2>Our Goal</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <h2>Emphasis classes</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
