<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">ngMaster</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/books">Books</a></li>
        <li><a routerLink="/videos">Video Tutorial</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/admin">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div role="search" style="margin-top:-5px;margin-right:5px;width:250px;float:left" [innerHTML]="gcsesearch"></div>
        <li *ngIf="isLoggedIn" style="float:left">
          <a><i class="material-icons">face</i>{{userName}}</a>
        </li>
        <li *ngIf="isLoggedIn" style="float:left">
          <a (click)="logout()">Log out</a>
        </li>
        <li *ngIf ="!isLoggedIn" style="float:left">
          <a (click)="login()">Log in</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="body container-full">
  <router-outlet></router-outlet>
</div>
