<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <!--<div class="container">-->
        <a class="navbar-brand">ng Master</a>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isLoggedIn"> \\if the user is logged in, we’ll show that user’s name along with an event binding to logout.
            <a>{{userName}}</a>
            <a (click)="logout()">Log out</a>
          </li>
          <li *ngIf ="!isLoggedIn"> \\if the user isn’t logged in, we’ll have an event binding to login.
            <a (click)="login()">Log in</a>
          </li>
        </ul>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="videos">Video Tutorial</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="books">Books</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="admin">Admin</a></li>
        </ul>
    <!--</div>-->
</nav>
