div.book-column {
  min-height: 350px;
  text-align: center;
  margin-top: 20px;
}

.version-filter {
  margin-top: 25px;
}

div.book-list {
  padding-top: 30px;
}

img {
  width: 192px;
  height: 248px;
}

div.title-author {
  margin-top: 20px;
}
