<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Recommended</h2>
    </div>
    <div class="form-group col-md-3 version-filter">
      <select (change)="onChange($event.target.value)">
        <option value="allVersions" selected="selected">All Versions</option>
        <option value="angular-js">AngularJS</option>
        <option value="angular2">Angular 2</option>
        <option value="angular4">Angular 4</option>
      </select>
    </div>
  </div>
  <div class="row book-list">
    <div *ngFor="let book of books | async | version:filterByVersion" class="book-column col-md-4">
      <div (click)="goToDetailPage(book)">
        <img src="{{book.image}}" alt="Book image"/>
        <div class="title-author">
          <h4><em>{{book.title}}</em></h4>
          <h5>by {{book.author}}</h5>
        </div>
      </div>
      <hr>
      <div *ngIf="currentRoute === '/admin'">
        <app-edit-book [selectedBook]="book"></app-edit-book>
      </div>
    </div>
  </div>
</div>
