<h1>Edit Book</h1>

<label>New Title:</label>
<input [(ngModel)]="selectedBook.title">
<br>
<label>New Author:</label>
<input [(ngModel)]="selectedBook.author">
<br>
<label>New Publish:</label>
<input [(ngModel)]="selectedBook.year">
<br>
<label>New Price:</label>
<input [(ngModel)]="selectedBook.price">
<br>
<label>New Version:</label>
<input [(ngModel)]="selectedBook.version">
<br>
<label>New Image:</label>
<input [(ngModel)]="selectedBook.image">
<br>
<label>New Shop:</label>
<input [(ngModel)]="selectedBook.shop">
<br>
<label>New Description:</label>
<input [(ngModel)]="selectedBook.description">
<br>
<button (click)="beginUpdatingBook(selectedBook)">Update</button>
<button (click)="beginDeletingBook(selectedBook)">Delete</button>
